.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: .6rem auto 0 auto;
    width: 60%;
    border-radius: 2rem;
}

h1 {
    margin-bottom: 0;
}