<div class="container">

  <h1>Listando Chamados</h1>
  
  <button routerLink="create"   mat-stroked-button color="primary" class="mat-elevation-z8 full-width">Novo Chamado</button>
  
  <mat-form-field class="full-width" appearance="standard">
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>
  
  <mat-radio-group color="primary">
    <mat-radio-button (click)="orderByStatus(0)" value="aberto">ABERTO</mat-radio-button>
    <mat-radio-button (click)="orderByStatus(1)" value="andamento">ANDAMENTO</mat-radio-button>
    <mat-radio-button (click)="orderByStatus(2)" value="encerrado">ENCERRADO</mat-radio-button>
  </mat-radio-group>

  <div class="mat-elevation-z8">
    <table class="full-width" mat-table [dataSource]="dataSource">
        
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
        
          <!-- Title Column -->
          <ng-container matColumnDef="titulo">
            <th mat-header-cell *matHeaderCellDef> Título </th>
            <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
          </ng-container>
        
          <!-- Client Column -->
          <ng-container matColumnDef="cliente">
            <th mat-header-cell *matHeaderCellDef> Cliente </th>
            <td mat-cell *matCellDef="let element"> {{element.nomeCliente}} </td>
          </ng-container>

          <!-- Technichan Column -->
          <ng-container matColumnDef="tecnico">
            <th mat-header-cell *matHeaderCellDef> Técnico </th>
            <td mat-cell *matCellDef="let element"> {{element.nomeTecnico}} </td>
          </ng-container>
        
          <!-- Date open Column -->
          <ng-container matColumnDef="dataAbertura">
            <th mat-header-cell *matHeaderCellDef> Data de abertura </th>
            <td mat-cell *matCellDef="let element"> {{element.dataAbertura}} </td>
          </ng-container>

          <!-- Priority column -->
          <ng-container matColumnDef="prioridade">
            <th mat-header-cell *matHeaderCellDef> Prioridade </th>
            <td mat-cell *matCellDef="let element"> {{retornaPrioridade(element.prioridade)}} </td>
          </ng-container>

          <!-- Status column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{retornaStatus(element.status)}} </td>
          </ng-container>
  
          <!-- Actioin Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Ações </th>
            <td mat-cell *matCellDef="let element">
              <a routerLink="update/{{element.id}}">
                <i class="material-icons edit">edit</i>
              </a>
              <a routerLink="read/{{element.id}}">
                <i class="material-icons look">visibility</i>
              </a>
            </td>
          </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
        
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                         showFirstLastButtons 
                         aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>    
</div>
