.container {
    width: 90%;
    margin: 0 auto 5rem auto;
}

.full-width {
    width: 100%;
}

h1 {
    text-align: center;
}


mat-radio-group {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}

button {
    margin: 1.1rem 0;
}


.edit {
    color: rgb(29, 96, 253);
    margin-right: 1rem;
}

.look {
    color:  rgb(29, 96, 253);
}



