.container {
    height: 100%;
    background: linear-gradient(158deg, rgba(17,1,62,1) 0%, rgba(49,82,240,1) 51%, rgba(4,220,255,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 25rem;
    margin: auto;
    background-color: rgb(235, 235, 235);
    padding: 4rem 1rem;
    border-radius: 1rem;
}

.full-width {
    width: 100%;
}

h1 {
    text-align: center;
}

button {
    color: rgb(47, 172, 143);
    margin-top: .5rem;
}

img {
    height: 10rem;
    display: block;
    margin: 1.5rem auto;
}